.marquee img{
    height: 20vh;
}

@media screen and (max-width: 600px) {
    .marquee img{
        height: 20vh;
    }
   }
   @media screen and (max-width: 280px) {
    .marquee img{
        height: 20vh;
    }
   }