.search_container{
    display: flex;
    place-items: center;
    width: 100%;
}
.search_container .bar input{
height: 3rem;
width: 100vh;
padding: 2rem;
border-radius: 0.5rem 0 0 0.5rem;
}
.search_container .icon{
    height: 4rem;
background-color: orange;
color: black;
padding: 1rem;
font-size: 1.8rem;
border-radius: 0 0.5rem 0.5rem 0;
}
/* @media (min-device-width: 1040px) and (max-device-width: 1050px) {
    .search_container .bar input{
        width: 70vh;
        }
} */

@media screen and (max-width: 1180px) {
    .search_container .bar input{
        width: 40vh;
        }
    
  }

@media screen and (max-width: 912px) {
    .search_container .bar input{
        width: 40vh;
        }
    
  }
  @media screen and (max-width: 412px) {
    .search_container .bar input{
        width: 20vh;
        }
    
  }