.swiper_slider{
    margin-bottom: 5rem;
}
.swiperSlider img{
  height: 50rem;
    width: 100%;
} 

  
  @media screen and (min-width: 640px) {
    .swiper-container {
      width: 640px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .swiper-container {
      width: 768px;
    }
  }

@media screen and (max-width: 675px) {
   .swiperSlider img{
        height: 30rem;
        width: 100%;
    }
}
  

